# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bi]n/
[Ob]j/
Log/
[Log]s/
bin/
obj/

# Visual Studio cache/options
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# User data
data.json
